@import "tailwindcss";

@theme {
  --primary: #ff5722;
  --bg-primary: #f5f5f5;
  --color-Info: #3b82f6;
}

/* --color-Info-50: #f0f3fe;
  --color-Info-100: #dee5fd;
  --color-Info-200: #bccbfc;
  --color-Info-300: #97b2fa;
  --color-Info-400: #739bf8;
  --color-Info-600: #2168cd;
  --color-Info-700: #164b99;
  --color-Info-800: #0c336b;
  --color-Info-900: #041c41;
  --color-Info-950: #02122f;
  --color-Warning-50: #fff2e0;
  --color-Warning-100: #ffe4be;
  --color-Warning-200: #ffca57;
  --color-Warning-300: #eab308;
  --color-Warning-400: #c69705;
  --color-Warning-500: #a27b04;
  --color-Warning-600: #806102;
  --color-Warning-700: #634a01;
  --color-Warning-800: #443201;
  --color-Warning-900: #281c00;
  --color-Warning-950: #181000;
  --color-Danger-50: #fef1f1;
  --color-Danger-100: #fcdede;
  --color-Danger-200: #fac1c1;
  --color-Danger-300: #f89d9d;
  --color-Danger-400: #f77b7b;
  --color-Danger-500: #f64a4a;
  --color-Danger-600: #e22525;
  --color-Danger-700: #b91c1c;
  --color-Danger-800: #811010;
  --color-Danger-900: #490505;
  --color-Danger-950: #330303; */
